.articleHeader {
  background-color: rgb(62, 68, 77);
  color: white;
  padding: 5px 10px 5px 10px;
  margin-bottom: 20px;
}
body {
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-size: 50px;
}

.nameHeader {
  margin-bottom: 50px;
}

.articleCreated {
  float: right;
}

.articleTitle {
  float: left;
}
