body {
    font-family: 'Open Sans', sans-serif;
}

/*Bulma overrides*/
.container {
    max-width: 768px;
}

.divide {
    margin: 0 15%;
}

.tabs {
    margin-bottom: 36px;
}

.tabs li a {
    font-weight: bold;
}

.tabs li.is-active a {
    color: rgba(0, 0, 0, 0.85);
    border-bottom-color: rgba(0, 0, 0, 0.85);
}

.tag {
    border-radius: 4px;
    font-size: 14px;
}

/*-----*/

.header-container {
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.header-container img {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    border-radius: 1000px;
}

.header-title-and-links {
    margin-left: 24px;
}

.header-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 1;
}

.header-links {
    margin-top: 4px;
}

.header-links a {
    color: #178066;
    font-size: 16px;
    font-weight: bold;
}

.header-links a:hover {
    color: #1fab89;
}

.section {
    padding-top: 0;
}

.project {
    margin-top: 42px;
    margin-bottom: 42px;
}

.project-title {
    font-family: 'Montserrat', sans-serif;
    vertical-align: baseline;
    font-size: 50px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.85);
    line-height: 1;
}

@media screen and (max-width: 350px) {
    .project-title {
        font-size: 36px;
    }
}

.project-title a {
    color: inherit;
}

.project-title .icon {
    vertical-align: baseline;
}

.title-defunct {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.project-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

.tags {
    line-height: 2;
    margin-top: 6px;
}


.project-body {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 20px;
}

.images {
    margin-top: 32px;
}

.images img {
    height: 300px;
    margin-right: 12px;
    margin-bottom: 12px;
    box-shadow: black 0 0 21px -7px;
}

.divide {
    margin: 0 124px;
    border-bottom: 1px solid #d3d6db;
}


.title {
    font-weight: bold;
}
