<!DOCTYPE html>
<html>
  <head>
    <title>andrej ocenas</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,500' rel='stylesheet' type='text/css'>
    <link href='css/bootstrap.min.css' rel='stylesheet' >
    <link href='css/style.css' rel='stylesheet' >
  </head>
  <body>
    <div class='container'>
      <div class='row'>
        <div class='span6 offset3' style='padding-top:30px'>
          <div class='nameHeader'>
            <h1>andrej ocenas</h1>
          </div>
          <div id='menu'>
            <ul class="nav nav-tabs">
              <li id='me' class="active">
                <a href="#/me">me</a>
              </li>
              <li id='blog'><a href="#/blog">blog</a></li>
              <li id='cv'><a href="#/cv">cv</a></li>
            </ul>
          </div>
          <div id='mainContent'>
            <div id='meContent'></div>
            <div id='blogContent'></div>
          </div>
        </div>
      </div>
    </div>

    <!--templates-->
    <script type='text/template' id='articleTemplate' class='template'>
    
      <div class='articleHeader clearfix'>
        <div class='articleTitle'><%= article.title %></div>
        <div class='articleCreated'><%= article.created %></div>
      </div>
      <div id='content'>
        <%= article.html %>
      </div>

    </script>


    <script src='js/jquery.js'></script>
    <script src='js/underscore.js'></script>
    <script src='js/backbone.js'></script>
    <script src='js/queue.js'></script>
    <script src='js/app/app.js'></script>
    <script src='js/app/models.js'></script>
    <script src='js/app/views.js'></script>
    <script src='js/app/router.js'></script>
    <script src='js/app.js'></script>
  </body>
</html>
